
@{
    ViewBag.Title = "Chi tiết sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="thumbnail">
    <h4 class="text-center book-name">
        @Model.TenSach
    </h4>
    <hr />
    <img src="~/Images/@Model.AnhBia" alt="@Model.TenSach" class="img-responsive"/>
    <hr />
    <div class="desc">
        <p class="text-center">
            @Html.Raw(Model.MoTa.ToString().Replace("\n", "</p><P>&nbsp&nbsp&nbsp&nbsp&nbsp"))
        </p>
    </div>
    <hr />
    <p class="text-center date-update">Ngày cập nhật: @Html.FormatValue(Model.NgayCapNhat, "{0:dd/MM/yyyy}")</p>
    <p class="text-center price">
        Giá bán:
        <span>
            @Html.FormatValue(Model.GiaBan, "{0:#,##0}") VNĐ
        </span>
    </p>
    <p class="text-center add-to-card">
        <a href="@Url.Action("AddToCard", "ShoppingCard") new { id = @Model.MaSach }" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
        </a>
    </p>
</div>
