<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <style type="text/css">
        .imgbook {
            transition: all 1s ease-in;
            width: 400px;
        }

            .imgbook:hover {
                transform: scale(0.9);
                cursor: pointer;
            }

        .imgsachbannhieu {
            width: 100px;
        }

        .book-desc {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }
    </style>
    @RenderSection("customStyles", required: false)
</head>
<body>
    @Html.Action("NavPartial", "Home")

    @Html.Partial("SliderPartial")

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <!--CHỦ ĐỀ và NHÀ XUẤT BẢN-->
                @Html.Action("ChuDePartial", "Home")
                <br>
                @Html.Action("NxbPartial", "Home")
                <br>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                @RenderBody()
            </div>
            <hr>
        </div>
    </div>

    @RenderSection("SachBanNhieu", required: false)

    <footer class="container well">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6 text-center">
                <p>&copy; @DateTime.Now.Year - Nhà sách ABC. Alright Reserved</p>
                <p>Website được phát triển để sử dụng làm bài tập thực hành môn Lập trình Web</p>
                <p>Email: 2024801030101@student.tdmu.edu.vn</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <h5>Số lượng truy cập: @ApplicationInstance.Application["HitCounter"]</h5>
                <h5>Số lượng online: @ApplicationInstance.Application["Online"]</h5>
            </div>
        </div>
    </footer>

    <!-- jQuery library -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Latest compiled JavaScript -->
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Custom scripts -->
    @RenderSection("customScripts", required: false)
</body>
</html>
