<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        .imgbook {
            transition: all 1s ease-in;
            width: 400px;
        }
        .imgbook:hover {
            transform: scale(0.9);
            cursor: pointer;
        }
        .imgsachbannhieu {
            width: 100px;
        }
    </style>
</head>
<body>
    @Html.Action("NavPartial", "Home")

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @Html.Action("SliderPartial", "Home")
            </div>
        </div>
        <hr />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <!--CHỦ ĐỀ và NHÀ XUẤT BẢN-->
                @Html.Action("ChuDePartial", "Home")
                <br>
                @Html.Action("NxbPartial", "Home")
                <br>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                @RenderBody()
            </div>
            <hr>
        </div>
    </div>

    <div class="container">
        @Html.Action("SachBanNhieuPartial", "Home")
    </div>

    <footer class="container well">
        <div style="text-align:center">
            <p>&copy; 2022 - Nhà sách ABC. Alright Reserved</p>
            <p>Website được phát triển để sử dụng làm bài tập thực hành môn Lập trình Web</p>
            <p>Email: abc@gmail.com</p>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
