@{
    List<SachOnline.Models.MENU> menuList = ViewBag.Menu;
}

<ul class="nav navbar-nav">
    @foreach (var mp in menuList.Where(p => p.ParentId == null))
    {
        <li class="active dropdown">

            @if (menuList.Count(p => p.ParentId == mp.Id) > 0)
            {
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="title">@mp.MenuName</span>
                    <span class="caret"></span>
                </a>
                @:<ul class="dropdown-menu">
                }
                else
                {
                    <a href="~/@mp.MenuLink">
                        <span class="title">@mp.MenuName</span>
                    </a>
                }
            @RenderMenuItem(menuList, mp)
            @if (menuList.Count(p => p.ParentId == mp.Id) > 0)
            {
            @:</ul>
        }
        </li>
    }
</ul>


@helper RenderMenuItem(List<SachOnline.Models.MENU> menuList, SachOnline.Models.MENU mi)
{
    foreach (var cp in menuList.Where(p => p.ParentId == mi.Id))
    {
        @:<li>
            if (menuList.Count(p => p.ParentId == cp.Id) > 0)
            {
                <a href="">
                    <span class="title">@cp.MenuName</span>
                    <span class="caret"></span>
                </a>
                @:<ul>
                }
                else
                {
                    <a href="~/@cp.MenuLink">
                        <span class="title">@cp.MenuName</span>
                    </a>
                }
                @RenderMenuItem(menuList, cp)
                if (menuList.Count(p => p.ParentId == cp.Id) > 0)
                {
                @:</ul>
            }
        }
}
