@model IEnumerable<SachOnline.Models.MENU>

<nav class="navbar navbar-inverse">
    <!--navbar-fixed-top-->
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling
        (Chứa nội dung của navbar) -->
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav">
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        if (ViewBag.lst[i] != 0)
                        {
                            <li class="dropdown">
                                <a href="@item.MenuLink" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
                                    @item.MenuName <span class="caret"></span>
                                </a>
                                @Html.Action("LoadChildMenu", "Home", new { parentId = item.Id })
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="~/@item.MenuLink">@item.MenuName</a>
                            </li>
                        }
                        i++;
                    }
                }
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>@Html.Action("LoginLogoutPartial", "Home")</li>
                <li>@Html.Action("GioHangPartial", "GioHang")</li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
</nav>
